 <!-- <div class="col-md-4 offset-4 mt-4">
  <div class="card">

    <div class="card-body">
       <form     (onSubmit)="authService.SignIn(userName.value, userPassword.value)">
      <h3>Sign In</h3>

      <div class="formGroup">
        <input type="text" class="formControl" placeholder="Username" #userName required>
      </div>

      <div class="formGroup">
        <input type="password" class="formControl" placeholder="Password" #userPassword required>
      </div>

      Calling SignIn Api from AuthService
      <div class="formGroup">
        <input class="btn btn-primary form-control" type="submit" value="Log in" (click)="authService.SignIn(userName.value, userPassword.value)">
      </div>

      <div class="formGroup">
        <span class="or"><span class="orInner">Or</span></span>
      </div>

      Calling GoogleAuth Api from AuthService
      <div class="formGroup">
        <button type="button" class="btn googleBtn" (click)="authService.GoogleAuth()">
          <i class="fab fa-google-plus-g"></i>
          Log in with Google
        </button>
      </div>
      <div class="forgotPassword">
        <span routerLink="/forgot-password" >Forgot Password?</span>
      </div>
    </form>
    </div>
    <div class="redirectToLogin">
      <span>Don't have an account?<span class="redirect" routerLink="/register"> Sign Up</span></span>
   </div>
  </div>
</div> -->
<div class="col-md-4 offset-4 mt-4">
  <div class="card">
    <div class="card-body">
      <form  (ngSubmit)="authService.SignIn(userName.value, userPassword.value)">
        <h1 class="text-center">Login</h1>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" ngModel  id="email" name="email" required class="form-control" #userName>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" ngModel name="password" required class="form-control" #userPassword>
        </div>
        <div class="form-group">
          <button class="btn-primary form-control" >Login</button>
        </div>
        <div class="forgotPassword">
          <a routerLink="/forget-password" >Forgot Password?</a>
        </div>
      <div class="redirectToLogin">
        <span>Don't have an account?<a class="redirect" routerLink="/login">Ask your Management for credentials</a></span>
     </div>
      </form>
    </div>
  </div>
</div>
