<div class="col-md-4 offset-4 card mt-2">
<div class="card-body">

  <h1 class="text-center">Registration</h1>
  <div>
    <span (click)="onStudent()">Student</span>
    <span  (click)="onTeacher()" >Teacher</span>
  </div>
  <div class="" *ngIf="authError" >
    <p class="alert alert-danger">{{authError.message}}</p>
   </div>
<form (ngSubmit)="onSubmit(f)" #f="ngForm">
  <div class="form-group">
<label for="name">Name</label>
<input type="text" id="name" ngModel name="name" class="form-control"  required #name="ngModel">
</div>
<div *ngIf="name.invalid && (name.dirty || name.touched)"
    class="alert alert-danger">
  <div *ngIf="name.errors.required">
    Name is required.
  </div>
</div>
<div *ngIf=!isTeacher>
<div class="form-group" >
  <label for="class">class</label>
  <input type="text" id="class" ngModel name="class" class="form-control" required #class="ngModel">
  </div>
  <div *ngIf="class.invalid && (class.dirty || class.touched)"
    class="alert alert-danger">
  <div *ngIf="class.errors.required">
    class is required.
  </div>
</div>
</div>
<div *ngIf=!isTeacher>
  <div class="form-group" >
    <label for="class">Section Id</label>
    <input type="text" id="section" ngModel name="section" class="form-control" required #section="ngModel">
    </div>
    <div *ngIf="section.invalid && (section.dirty || section.touched)"
      class="alert alert-danger">
    <div *ngIf="section.errors.required">
      section is required.
    </div>
  </div>
  </div>
  <div class="form-group">
    <label for="email">Email</label>
    <input type="email" id="email" ngModel name="email" class="form-control" required #email="ngModel">
    </div>
    <div *ngIf="email.invalid && (email.dirty || email.touched)"
    class="alert alert-danger">
  <div *ngIf="email.errors.required">
    email is required.
  </div>
</div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" id="password" ngModel name="password" class="form-control" required #pass="ngModel">
      </div>
      <div *ngIf="pass.invalid && (pass.dirty || pass.touched)"
      class="alert alert-danger">
    <div *ngIf="pass.errors.required">
      password is required.
    </div>
  </div>
  <input type="text" value="{{role}}" name="role" hidden #role="ngModel" ngModel id="role">
      <div class="form-group">
        <button type="submit" class="form-control btn-success"  (click)="authService.SignUp(email.value, pass.value)" >Register </button>
      </div>
      <div class="redirectToLogin">
        <span>Already have an account? <a class="redirect" routerLink="/login">Log In</a></span>
      </div>
</form>
</div>
</div>
