<!--
<div class="col-md-4 offset-4 card mt-2">
  <div class="card-body">

    <h1 class="text-center">Registration</h1> -->

    <!-- <div class="" *ngIf="authError" >
      <p class="alert alert-danger">{{authError.message}}</p>
     </div> -->

    <!-- <div class="form-group">
  <label for="name">Name</label>
  <input type="text" id="name" ngModel name="name" class="form-control"  required #name="ngModel" [(ngModel)]="editName">
  </div>
  <div *ngIf="name.invalid && (name.dirty || name.touched)"
      class="alert alert-danger">
    <div *ngIf="name.errors.required">
      Name is required.
    </div>
  </div>

  <div class="form-group" >
    <label for="classNo">class</label>
    <input type="text" id="classNo" ngModel name="classNo" classNo="form-control" required #classNo="ngModel" [(ngModel)]="editClass">
    </div>
    <div *ngIf="classNo.invalid && (classNo.dirty || classNo.touched)"
      class="alert alert-danger">
    <div *ngIf="classNo.errors.required">
      class is required.
    </div>
  </div>


    <div class="form-group" >
      <label for="section">Section Id</label>
      <input type="text" id="section" ngModel name="section" class="form-control" required #section="ngModel" [(ngModel)]="editSection">
      </div>
      <div *ngIf="section.invalid && (section.dirty || section.touched)"
        class="alert alert-danger">
      <div *ngIf="section.errors.required">
        section is required.
      </div>
    </div> -->

    <!-- <div class="form-group">
      <label for="email">Email</label>
      <input type="email" id="email" ngModel name="email" class="form-control" required #email="ngModel" [(ngModel)]="editEmail">
      </div>
      <div *ngIf="email.invalid && (email.dirty || email.touched)"
      class="alert alert-danger">
    <div *ngIf="email.errors.required">
      email is required.
    </div>
  </div> -->

        <!-- <div class="form-group">
          <button type="submit" class="form-control btn-success"   >Update Details </button>
        </div> -->
        <!-- <div class="redirectToLogin"> -->
          <!-- <span>Already have an account? <a class="redirect" routerLink="/login">Log In</a></span> -->
        <!-- </div> -->
  <!-- </form>
  </div>
  </div> -->
